.footer {
  width: 100%;

  &__container {
    @include flex-alc-jsb;
    padding: 115px 179px 116px 80px;
  }

  &__desc {
    display: flex;
    gap: 51px;

    &-info {
      @include flex-col-jsb;
      align-items: flex-start;
      gap: 52px;

      &--text {
        max-width: 391px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.8;
      }
    }

    &--copyright {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.8;
    }
  }

  &__social-media {
    display: flex;
    justify-content: flex-start;

    &-list {
      display: flex;
      gap: 32.47px;
    }
  }

  &__contact {
    @include flex-cent;
    gap: 227px;
  }

  &__group {
    @include flex-col-jsb;
    gap: 18px;
    height: 100%;

    &-title {
      font-family: 'Work Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.45;
      color: var(--color-white);
    }

    &-list {
      @include flex-col-jsb;
      gap: 18px;
    }

    &-link {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1181px) {
  .footer {
    &__container {
      gap: 30px;
    }

    &__contact {
      gap: 112px;
    }
  }
}

@media screen and (max-width: 1014px) {
  .footer {
    &__container {
      gap: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &__contact {
      gap: 56px;
    }
  }
}

@media screen and (max-width: 953px) {
  .footer {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    &__contact {
      gap: 200px;
    }
  }
}

@media screen and (max-width: 769px) {
  .footer {
    &__container {
      padding-top: 57px;
      padding-bottom: 54px;
    }

    &__desc{
      flex-direction: column;
      align-items: center;
      text-align: center;

      &-info{
        &--copyright{
          display: none;
        }
      }
    }

    &__social-media{
      justify-content: center;
      width: 100%;
    }
    &__contact {
      justify-content: space-around;
      gap: 37px;
      width: 100%;
    }

    &__group{
      gap: 18px;
      &-list{
        gap: 35px;
      }
    }
  }
}